*
{
	margin: 0;
	text-decoration: none;
}

body
{
	font-family: Sans, sans, Verdana, 'DejaVu Sans', Arial, Calibri;
	background-color: #fff;
}

a img
{
	border: 0;
}

/******************************************************************************
*******************************************************************************
*******************************************************************************
******************************************************************************/

#menu
{
	background-color: #415a82;
	padding: 5px;
}

#menu a span
{
	color: white;
	font-size: 10pt;
	margin-right: 10px;
	margin-left: 10px;
	text-shadow: 1px 1px 1px #000;
}

#menu a:hover span
{
	color: yellow;
}

/******************************************************************************
*******************************************************************************
*******************************************************************************
******************************************************************************/

#mensajes
{
	text-align: center;
	font-size: 10pt;
}

#mensajes table
{
	text-align: center;
	vertical-align: middle;
	margin: auto;
}

#mensajes table.exito
{
	color: #080;
}

#mensajes table.info
{
	color: #00e;
}

#mensajes table.aviso
{
	color: #b80;
}

#mensajes table.error
{
	color: #e00;
}

#mensajes table tr td.columnaizquierda
{
	text-align: right;
}

#mensajes table tr td.columnaderecha
{
	text-align: left;
}

/******************************************************************************
*******************************************************************************
*******************************************************************************
******************************************************************************/

#contenido
{
	background-color: #fff;
	height: 100%;
}

#titulo
{
	padding: 20px;
	padding-bottom: 10px;
	font-size: 25pt;
}

#titulo p
{
	border-bottom: 1px solid #000;
}

/******************************************************************************
*******************************************************************************
*******************************************************************************
******************************************************************************/

#panel
{
	padding: 20px;
	padding-top: 25px;
	font-size: 11pt;
	background-color: #fff;
}

#panel table.selectiva
{
	font-size: 11pt;
	width: 100%;
	border: 1px solid #444;
	border-collapse: collapse;
}

#panel table.selectiva td
{
	border: 1px solid #444;
	padding: 10px;
}

#panel table.selectiva tr.impar
{
	background-color: #f0f0f0;
}

#panel table.selectiva tr
{
	cursor: pointer;
	background-color: #fff;
}

#panel table.selectiva tr:hover
{
	background-color: #FFFDB1;
}

#panel table.selectiva tr.cabecera, #panel table tr.cabecera:hover
{
	background-color: #999;
	color: #fff;
	font-weight: bold;
	cursor: auto;
}

#panel table.selectiva tr.cabecera td
{
	padding: 10px;
	text-align: center;
}

#panel table.selectiva tr.cabecera td a
{
	color: #fff;
}

#panel table.selectiva tr.cabecera td.ascendente
{
	background: #333 url('descendente.png') no-repeat right center;
}

#panel table.selectiva tr.cabecera td.descendente
{
	background: #333 url('ascendente.png') no-repeat right center;
}


/******************************************************************************
*******************************************************************************
*******************************************************************************
******************************************************************************/

#panel table.insertiva
{
	/*width: 50%;*/
	margin: auto;
	font-size: 11pt;
}

#panel table.insertiva select
{
	width: 300px;
}

#panel table.insertiva td.etiqueta
{
	text-align: right;
	padding-right: 20px;
}

#panel table.insertiva td.botones
{
	text-align: center;
	padding-top: 40px;
}

#panel table.insertiva td.botones input
{
	padding: 10px;
}

#panel table.insertiva td.botones input[type="submit"]
{
	font-weight: bold;
}

/******************************************************************************
*******************************************************************************
*******************************************************************************
******************************************************************************/

#buscador
{
	text-align: center;
	padding-bottom: 20px;
}

.busqueda
{
	width: 40%;
}

.columnacatalogo
{
	width: 20px;
	text-align: center;
}

.columnaid
{
	width: 5%;
}

.columnamodelo, .columnaprecio, .columnaprimerano
{
	width: 9%;
}

.columnafabricante
{
	width: 10%;
}

.columnafoto
{
	width: 100px;
	text-align: center;
}

.columnanombre, .columnatelefono
{
	width: 20%;
}

.columnadescripciondiv, .columnainformacionadicionaldiv, .columnatelefonodiv
{
	overflow: auto;
	max-height: 35px;
	display: block;
}

tr.fila td.columnaprecio, tr.fila td.columnaprimerano
{
	text-align: right;
	padding-right: 2% !important;
}

tr.fila td.columnaid
{
	text-align: right;
}

#panel table.selectiva td.columnafabricante
{
	text-align: center;
	padding: 0 !important;
}

/******************************************************************************
*******************************************************************************
*******************************************************************************
******************************************************************************/

#fotos .foto
{
	padding: 0;
	float: left;
	margin: 10px;
	position: relative;
}

#fotos .foto img
{
	padding: 0;
	margin: 0;
	border: 1px solid #BBB;
}

#fotos .foto img:hover
{
	border: 1px solid #000;
}

#fotos .foto a.papelera
{
	position: absolute;
	top: 5px;
	left: 5px;
}

#fotos .foto a.papelera img
{
	border: 0;
}

#fotos .foto a.papelera img:hover
{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

/******************************************************************************
*******************************************************************************
*******************************************************************************
******************************************************************************/

#catalogoseleccionado
{
	position: fixed;
	top: 20px;
	right: 20px;
	border: 1px solid #5fc44e;
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
	background-color: #5fc44e;
	color: #ffffff;
	padding: 15px;
}

#crearcatalogo
{
	margin-top: 60px;
}

#checkboxesfabricante
{
	margin-top: 20px;
	margin-bottom: 10px
}

.checkboxfabricante
{
	float: left;
	padding: 10px;
}

.columnacantidadmodelos
{
	width: 120px;
	text-align: center;
}

.columnaacciones
{
	vertical-align: middle;
	text-align: center;
	width: 30px;
}

/******************************************************************************
*******************************************************************************
*******************************************************************************
******************************************************************************/

#mosaico
{
	width: 100%;
	text-align: center;
	vertical-align: baseline;
}

#mosaico a img
{
	border: 1px solid transparent;
}

#mosaico a img:hover
{
	border: 1px solid #000;
}

#mosaico .modelo
{
	padding-bottom: 25px;
}

#mosaico p img
{
	cursor: pointer;
}

#imprimir
{
	position: fixed;
	top: 15px;
	right: 15px;
}

#imprimir img
{
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

#imprimir img:hover
{
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

/*--------------------------------------------------------------------------*/
/*                              PAGINACIÓN                                  */
/*--------------------------------------------------------------------------*/

#cantidad
{
	margin-top: 50px;
}

#paginacion
{
	margin-top: 50px;
	text-align: center;
}

#paginacion a:hover, #paginacion a:visited,  #paginacion a:active, #paginacion a:link
{
	color: #565656;
	border: 1px solid #E1E1E1;
	padding: 3px 7px 3px 7px;
	background: transparent url(paginacion0.gif) repeat-x;
}

#paginacion a:hover
{
	text-decoration: none;
	border: 1px solid #D2D2D2;
	padding: 3px 7px 3px 7px;
	background: transparent url(paginacion1.gif) repeat-x;
}

#botones div
{
	display: inline;
	margin: 0px 1px 0px 1px;
}

.bloqueado
{
	color: #BFBFBF;
	border: 1px solid #E5E5E5;
	padding: 3px 7px 3px 7px;
	background-color: #F9F9F9;
}

.separacion
{
	border: 0;
	padding: 0px 5px 0px 5px;
}

.actual
{
	color: #FFFFFF;
	font-weight: bold;
	border: 1px solid #828282;
	padding: 3px 7px 3px 7px;
	background: transparent url(paginacion2.gif) repeat-x;
}