/*****************************************************
Generales
*****************************************************/

html, body, h
{
    margin: 0;
    padding: 0;
    font-family: "Calibri", "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    font-size: 11pt;
    color: #444;
}

body
{
    background: #fff;
}

img
{
    border: 0;
    vertical-align: middle;
}

@font-face
{
    font-family: "Kabel-Bold";
    src: url("Kabel-Bold.otf") format("opentype");
}

@font-face
{
    font-family: "Cabin_Bold";
    src: url("Cabin_Bold.otf") format("opentype");
}

@font-face
{
    font-family: "La-chata-normal";
    src: url("La-chata-normal.otf") format("opentype");
}

h3
{
    font-weight: normal;
    font-family: "Cabin_Bold";
    font-size: 25pt;
    color: #666;
    margin-bottom: 15px;
}

#contenedor
{
    text-align: center;
}

#cabecera
{
    background: #333;
    border-bottom: 1px solid #333;
}

#barra
{
    background: #fff;
}

#contenido
{
    background: url("fondo_contenido.png");
    padding: 15px 0 55px 0;
    box-shadow: inset 0px 1px 1px #999;
}

#menu, #cuerpo, #contenido-cabecera
{
    margin: auto;
    max-width: 1300px;
    min-width: 650px;
    width: 98%;
}

#tabla-cabecera tr, #tabla-cabecera tr td
{
    /*border: 1px solid #fff;*/
}

#tabla-cabecera tr
{
    white-space: nowrap;
}

#tabla-cabecera
{
    text-align: center;
    vertical-align: middle;
    /*border-collapse: separate;
    border-spacing: 10px 0;*/
}

#tabla-cabecera td
{
    height: 70px;
}

#titulo h1 a
{
    color: #555;
    text-decoration: none;
    display: block;
    background: url("logo.png") bottom no-repeat;
    width: 263px;
    height: 50px;
}

#titulo span
{
    display: none;
}

#cuerpo
{
    text-align: left;
}

#pie
{
    padding: 30px 0 25px 0;
    background: url("fondo_pie.png") repeat-x;
}

#barra-pie
{
    background: #2E2F2D;
    font-weight: normal;
    font-family: "Cabin_Bold";
    font-size: 12pt;
    color: #A3A29B;
}

#barra-pie img
{
    vertical-align: middle;
    width: 28px;
}

#barra-pie a
{
    text-decoration: none;
    color: #A3A29B;
    padding: 10px 7px;
    display: inline-block;
}

#barra-pie a:hover
{
    background: #444;
    color: #D2D1C9;
}


#busqueda input[type="text"] {
    background: url("lupa_oscura.png") no-repeat 10px 6px #fff;
    border: 0 none;
    font-size: 10pt;
    color: #999;
    width: 200px;
    padding: 6px 15px 6px 35px;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
    
    /*-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;*/
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3) inset;
    
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#busqueda input[type="text"]:focus {
    width: 280px;
    color: #000;
}

.searchinput
{
    background: url("lupa.png") no-repeat scroll 3% center #FFFFFF;
    padding-left: 30px;
    padding-right: 22px;
    width: 500px;
    border: 1px solid #BFBFBF;
    border-radius: 23px;
    box-shadow: 0 0 0 #000000, 0 3px 3px #EEEEEE inset;
    height: 23px;
    font-size: 8pt;
    color: #444;
}

input.blur
{
    color: #888;
}

.btncabecera, .btnazul, .btnrojo
{
    display: inline-block;
    color: #fff;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    padding: 0 15px;
    height: 100%;
    margin: 0 10px;
    vertical-align: middle;
    line-height: 70px; /*mismo tamaño que #table-celda td*/
}

a.btnazul
{
    background: #1695D6;
}

a:hover.btnazul
{
    background: #0F78AE;
}

a.btnrojo
{
    background: #D63016;
}

a:hover.btnrojo
{
    background: #B8220A;
}


.cabecera td {
    -moz-border-bottom-colors: none !important;
    -moz-border-image: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    border-color: #AED0EA #AED0EA #000000 !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-weight: bold;
    height: 60px;
    padding: 5px 10px;
    text-align: center;

    background: #C2E3FD;
    background: -moz-linear-gradient(center top , #DAEEFB, #C2E3FD) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#DAEEFB), to(#C2E3FD));
    border-color: #93CEF8 #79BCEA #79BCEA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 #EDF9FF inset;
    color: #1E75BD;
}

.fila td
{
    padding: 8px 10px;
    border: 1px solid #000;
}

.fila
{
    background: #fff;
    white-space: nowrap;
}

.fila:hover
{
    background-color: #ddd;
}

.estirar
{
    width: 100%;
}

.centrada
{
    text-align: center;
}

ol
{
    margin-top: 10px;
    margin-left: 40px;
}

ul
{
    margin: 10px;
    margin-left: 40px;
}

table, tr
{
    border: 0;
    width: 100%;
    border-collapse: collapse;
}

#externo
{
    width: 100%;
    text-align: center;
}

#interno
{
    display: inline-block;
    text-align: left;
}

#admin
{
    margin: 50px 0 100px 0;
}

#admin a
{
    text-decoration: none;
    margin: 0 5px;
    padding: 40px;
}

#mapaapi
{
    height: 500px;
}


/**********************************************************/

.guapo-form
{
    font-size: 10pt;
}

.guapo-label
{
    padding-right: 5px;
    text-align: right;
    font-weight: bold;
}

.guapo-input
{
    padding: 5px 0;
}

.guapo-input input
{
    width: 250px;
}

.guapo-input input[type=file], .guapo-input input[type=checkbox]
{
    width: auto;
}
