/*****************************************************
Generales
*****************************************************/

html, body, h
{
    margin: 0;
    padding: 0;
    font-family: "Calibri", "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    font-size: 11pt;
    color: #444;
}

body
{
    background: url("fondo.jpg");
}

img
{
    border: 0;
}

@font-face
{
    font-family: "Kabel-Bold";
    src: url("Kabel-Bold.otf") format("opentype");
}

@font-face
{
    font-family: "La-chata-normal";
    src: url("La-chata-normal.otf") format("opentype");
}

h3
{
    font-weight: normal;
    font-family: "La-chata-normal";
    font-size: 25pt;
    color: #666;
    margin-top: 15px;
    margin-bottom: 15px;
}

#contenedor
{
    text-align: center;
}

#cabecera
{
    background-color: #666;
    padding: 2px 0;
}

#barra
{
    background: #fff;
    border-bottom: #ddd 1px solid;
}

#contenido
{
    background: url("fondo_contenido.png");
    padding-top: 15px;
    padding-bottom: 15px;
}

#titulo, #menu, #cuerpo, #busquedarapida
{
    margin: auto;
    max-width: 1300px;
    min-width: 960px;
    width: 98%;
}

#busquedarapida
{
    padding: 0;
    margin: 0 auto;
}

#busquedarapidaform
{
    margin: 8px;
    float: right;
}

#titulo h1
{
    float: left;
    margin: 0;
    margin-top: 10px;
}

#titulo h1 a
{
    color: #555;
    text-decoration: none;
    display: block;
    background-image: url("calzadosjam_logo.png");
    background-repeat: no-repeat;
    width: 151px;
    height: 70px;
}

#titulo span
{
    display: none;
}

#titulo
{
    text-align: left;
}

#cuerpo
{
    text-align: left;
    padding-bottom: 35px;
}

#pie
{
    border-top: 30px #000 solid;
    clear: both;
    padding: 20px;
}

#busquedarapida input[type="text"] {
    background: url("lupa_oscura.png") no-repeat 10px 6px #444;
    border: 0 none;
    font-size: 10pt;
    color: #aaa;
    width: 250px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#busquedarapida input[type="text"]:focus {
    width: 350px;
    color: #fff;
}

.searchinput
{
    background: url("lupa.png") no-repeat scroll 3% center #FFFFFF;
    padding-left: 30px;
    padding-right: 22px;
    width: 500px;
    border: 1px solid #BFBFBF;
    border-radius: 23px;
    box-shadow: 0 0 0 #000000, 0 3px 3px #EEEEEE inset;
    height: 23px;
    font-size: 8pt;
    color: #444;
}

input.blur
{
    color: #888;
}

.cabecera td {
    -moz-border-bottom-colors: none !important;
    -moz-border-image: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    border-color: #AED0EA #AED0EA #000000 !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-weight: bold;
    height: 60px;
    padding: 5px;
    text-align: center;

    background: #C2E3FD;
    background: -moz-linear-gradient(center top , #DAEEFB, #C2E3FD) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#DAEEFB), to(#C2E3FD));
    border-color: #93CEF8 #79BCEA #79BCEA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 #EDF9FF inset;
    color: #1E75BD;
}

.fila td
{
    padding: 10px;
    border: 1px solid #000;
}

.fila
{
    background: #fff;
}

.fila:hover
{
    background-color: #ddd;
}

ol
{
    margin-top: 10px;
    margin-left: 40px;
}

ul
{
    margin: 10px;
    margin-left: 40px;
}

table, tr
{
    border: 0;
    width: 100%;
    border-collapse: collapse;
}

#externo
{
    width: 100%;
    text-align: center;
}

#interno
{
    display: inline-block;
    text-align: left;
}

#admin
{
    margin: 50px 0 100px 0;
}

#admin a
{
    text-decoration: none;
    margin: 0 5px;
    padding: 40px;
}

.categoriapadre
{
    padding-left: 50px;
    margin: 5px 0 5px 0;
}

.categoria
{
    padding: 3px;
}

.categoria:hover
{
    background: #FFFB65;
}

.categoria span
{
    float: right;
}

#mapaapi
{
    height: 500px;
}


/**********************************************************/

.guapo-form
{
    font-size: 10pt;
}

.guapo-label
{
    padding-right: 5px;
    text-align: right;
    font-weight: bold;
}

.guapo-input
{
    padding: 5px 0;
}

.guapo-input input
{
    width: 250px;
}

.guapo-input input[type=file]
{
    width: auto;
}
