#mensajes
{
    display: none;

    font-size: 13pt;
    font-family: "☺SegoeLight", "Segoe UI", Segoe, Arial, Verdana, sans-serif;
    font-weight: bold;
    margin: 0;
    
    position: fixed;
    bottom: 0;
    width: 84%;
    padding: 50px 8%;
    
    border-top: 1px solid #888;
    -webkit-box-shadow: 0px -1px 10px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px -1px 10px rgba(50, 50, 50, 0.8);
    box-shadow:         0px -1px 10px rgba(50, 50, 50, 0.8);
    

    background: #fff url("close.png") top right no-repeat;
}

#mensajes:hover
{
    background: #fff url("closeon.png") top right no-repeat;
    cursor: pointer;
}

#mensajes table
{
    margin: 10px auto;
}

#mensajes table.exito
{
    color: #080;
}

#mensajes table.info
{
    color: #00e;
}

#mensajes table.aviso
{
    color: #b80;
}

#mensajes table.error
{
    color: #e00;
}

#mensajes table tr td
{
    text-align: center;
}
