.freshbutton-big, .freshbutton-blue
{
    background: #2180CE;
    background: -moz-linear-gradient(center top , #33A0E8, #2180CE) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#33A0E8), to(#2180CE));
    border-color: #2270AB #18639A #0F568B;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #83C5F1 inset;
    color: #FFFFFF;
    text-shadow: #355782 0 1px 2px;
    -webkit-text-shadow: #355782 0 1px 2px;
    -moz-text-shadow: #355782 0 1px 2px;
}

.freshbutton-red
{
    background: #CE2224;
    background: -moz-linear-gradient(center top , #E83134, #CE2225) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#E83134), to(#CE2225));
    border-color: #AB2123 #9A1719 #8B0F11;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #F17F81 inset;
    color: #FFFFFF;
    text-shadow: #823435 0 1px 2px;
    -webkit-text-shadow: #823435 0 1px 2px;
    -moz-text-shadow: #823435 0 1px 2px;
}

.freshbutton, .freshbutton-big, .freshbutton-blue, .freshbutton-lightblue, .freshbutton-red
{
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    overflow: visible;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
}

.freshbutton-big
{
    padding: 11px 22px;
    font-size: 15px;
}

.textinput
{
    background: url("topfade.gif") repeat-x scroll center top #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #555555;
    margin: 0;
    padding: 8px;
    vertical-align: middle;
    width: 300px;
}

html, body, h
{
	margin: 0;
	padding: 0;
    font-family: "Calibri", "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    font-size: 11pt;
    color: #444;
}

@font-face
{
	font-family: "Kabel-Bold";
	src: url("Kabel-Bold.otf") format("opentype");
}

h3
{
    font-size: 20pt;
    color: #888;
}

#contenedor
{
    text-align: center;
}

#cabecera
{
    background-color: #F1F1F1;
    border-bottom: 1px solid #DDD;
    padding-bottom: 15px;
}

#titulo, #navegacion, #contenido
{
    margin: auto;
    max-width: 1300px;
    min-width: 790px;
    width: 98%;
}

#titulo h1
{
    padding: 15px 0 15px 0;
    margin: 0;
}

#titulo h1 a
{
    color: #555;
    text-decoration: none;
    font-size: 40pt;
}

#titulo h1 a .otrocolor
{
    color: #18639A;
    font-weight: normal;
    font-size: 40pt;
}

#titulo, #navegacion
{
    text-align: left;
}

#navegacion a
{
    padding: 5px 15px;
    color: #888;
    text-decoration: none;
    font-weight: bold;
    font-size: 11pt;
    border-right: 1px solid #CCC;
}

#navegacion a.ultimo
{
    border-right: 0;
}

#navegacion a:hover
{
    color: #000000;
}

#contenido
{
    margin-top: 15px;
}

#cuerpo
{
    text-align: left;
}

#menu
{
    text-align: right;
    margin-bottom: 15px;
}

/******************************************************************************/

#iniciarsesion label
{
    padding: 5px;
    width: 100px;
    display: inline-block;
}

#iniciarsesion div
{
    margin: 10px;
}

#registrarse td
{
    padding: 3px 0;
}

#externo
{
    width: 100%;
    text-align: center;
}

#interno
{
    display: inline-block;
}

#iniciarsesion, #registrarse, #mapa
{
    text-align: left;
}

#mapaapi
{
    height: 500px;
    width: 950px;
}

#mapalinks
{
    text-align: right;
    padding-top: 10px;
    font-size: 9pt;
}


/*****************************************************
Mensajes
*****************************************************/

#mensajes
{
	text-align: center;
	font-size: 10pt;
    font-weight: bold;
	margin: auto;
	margin-bottom: 10px;
	
	border: 1px solid #E6DB55;
	border-radius: 10px;
	-moz-border-radius: 10px;
    
    background: #FFFBCC;
}

#mensajes table
{
	text-align: center;
	vertical-align: middle;
	margin: auto;
}

#mensajes table tr
{
	display: inline;
}

#mensajes table.exito
{
	color: #080;
}

#mensajes table.info
{
	color: #00e;
}

#mensajes table.aviso
{
	color: #b80;
}

#mensajes table.error
{
	color: #e00;
}

#mensajes table tr td.columnaizquierda
{
	text-align: right;
}

#mensajes table tr td.columnaderecha
{
	text-align: left;
}
