.freshbutton, .freshbutton-big, .freshbutton-blue, .freshbutton-lightblue, .freshbutton-purple, .freshbutton-red, .freshbutton-disabled, .freshbutton-lightdisabled, .freshbutton-green
{
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    overflow: visible;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.freshbutton-big, .freshbutton-blue
{
    background: #2180CE;
    background: -moz-linear-gradient(center top , #33A0E8, #2180CE) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#33A0E8), to(#2180CE));
    border-color: #2270AB #18639A #0F568B;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #83C5F1 inset;
    color: #FFFFFF;
    text-shadow: #355782 0 1px 2px;
    -webkit-text-shadow: #355782 0 1px 2px;
    -moz-text-shadow: #355782 0 1px 2px;
}

.freshbutton-lightblue
{
    background: #E4F3FF;
    background: -moz-linear-gradient(center top , #F4FAFE, #E4F3FF) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#F4FAFE), to(#E4F3FF));
    border-color: #93CEF8 #79BCEA #79BCEA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 #FFFFFF inset;
    color: #1E75BD;
}

.freshbutton-lightdisabled
{    
    background: #eee;
    background: -moz-linear-gradient(center top , #fff, #eee) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    border-color: #ddd #ccc #bbb;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 #E8E8E8 inset;
    color: #aaa;
    cursor: default;
}

.freshbutton-red
{    
    background: #CE2224;
    background: -moz-linear-gradient(center top , #DB4457, #C32F39) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#DB4457), to(#C32F39));
    border-color: #A12B36 #92222C #821721 #8F212B;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #F17F81 inset;
    color: #FFFFFF;
    text-shadow: #823435 0 1px 2px;
    -webkit-text-shadow: #823435 0 1px 2px;
    -moz-text-shadow: #823435 0 1px 2px;
}

.freshbutton-green
{    
    background: #23B236;
    background: -moz-linear-gradient(center top , #48D054, #1FAC2B) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#48D054), to(#1FAC2B));
    border-color: #2BA136 #229227 #17821B #218F24;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #7FF180 inset;
    color: #FFFFFF;
    text-shadow: #34823A 0 1px 2px;
    -webkit-text-shadow: #34823A 0 1px 2px;
    -moz-text-shadow: #34823A 0 1px 2px;
}

.freshbutton-purple
{
    background: #9A44E5;
    background: -moz-linear-gradient(center top , #9E4FE2, #7D1CCC) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#9E4FE2), to(#7D1CCC));
    border-color: #6A1EAB #561B9A #4A118B;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #AD7CF1 inset;
    color: #FFFFFF;
    text-shadow: #543382 0 1px 2px;
    -webkit-text-shadow: #543382 0 1px 2px;
    -moz-text-shadow: #543382 0 1px 2px;
}

.freshbutton-disabled
{
    background: #BCBCBC;
    background: -moz-linear-gradient(center top , #DDDDDD, #BCBCBC) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#BCBCBC));
    border-color: #AAAAAA #939393 #878787;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #E8E8E8 inset;
    color: #777;
    text-shadow: #fff 1px 1px 0;
    -webkit-text-shadow: #fff 1px 1px 0;
    -moz-text-shadow: #fff 1px 1px 0;
    cursor: default;
}

.freshbutton-big
{
    padding: 11px 22px;
    font-size: 15px;
}

.freshbutton-extrabig
{
    line-height: 1em;
    width: 250px;
    display: inline-block;
    font-size: 20pt;
    padding: 15px 25px;
}
