#mensajes
{
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
    margin: 15px auto;
    
    border: 1px solid #E6DB55;
    border-radius: 10px;
    -moz-border-radius: 10px;
    
    background: #FFFBCC;
}

#mensajes table
{
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

#mensajes table tr
{
    display: inline;
}

#mensajes table.exito
{
    color: #080;
}

#mensajes table.info
{
    color: #00e;
}

#mensajes table.aviso
{
    color: #b80;
}

#mensajes table.error
{
    color: #e00;
}

#mensajes table tr td.columnaizquierda
{
    text-align: right;
}

#mensajes table tr td.columnaderecha
{
    text-align: left;
}
