*
{
	margin: 0;
	text-decoration: none;
}

body
{
	font-family: Sans;
	background-color: #fff;
}

a img
{
	border: 1px solid #000;
}

/******************************************************************************
*******************************************************************************
*******************************************************************************
******************************************************************************/

#menu
{
	background-color: #415a82;
	width: 150px;
	height: 100%;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
}

#menu span
{
	display: block;
}

a.enlace_menu
{
	width: 112px;
	height: 113px;
	background: url('normal.png') no-repeat center center;
	display: block;
	font-size: 8pt;
	color: #000;
	position: relative;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

a.enlace_menu:hover
{
	background: url('encima.png') no-repeat center center;
}

a.enlace_menu span
{
	padding: 10px;
	padding-top: 45px;
	text-align: center;
	font-weight: bold;
	font-size: 10pt;
}

.sombra_menu
{
	width: 92px;
	position: absolute;
	top: -1px;
	left: -1px;
	color: #f9f39b;
}

/******************************************************************************
*******************************************************************************
*******************************************************************************
******************************************************************************/

#mensajes
{
	text-align: center;
	font-size: 10pt;
}

#mensajes table
{
	text-align: center;
	vertical-align: middle;
	margin: auto;
}

#mensajes table.exito
{
	color: #080;
}

#mensajes table.info
{
	color: #00e;
}

#mensajes table.aviso
{
	color: #b80;
}

#mensajes table.error
{
	color: #e00;
}

#mensajes table tr td.columnaizquierda
{
	text-align: right;
}
#mensajes table tr td.columnaderecha
{
	text-align: left;
}

/******************************************************************************
*******************************************************************************
*******************************************************************************
******************************************************************************/

#contenido
{
	margin-left: 150px;
	background-color: #fff;
	height: 100%;
}

#titulo
{
	padding: 20px;
	padding-bottom: 10px;
	font-size: 25pt;
}

#titulo p
{
	border-bottom: 1px solid #000;
}

#panel
{
	padding: 20px;
	padding-top: 25px;
	font-size: 10pt;
	background-color: #fff;
}

#panel table.selectiva
{
	font-size: 9pt;
	width: 100%;
	border: 1px solid #444;
	border-collapse: collapse;
}

#panel table.selectiva td
{
	border: 1px solid #444;
	padding: 5px;
}

#panel table.selectiva tr.impar
{
	background-color: #f3f3f3;
}

#panel table.selectiva tr
{
	cursor: pointer;
	background-color: #fff;
}

#panel table.selectiva tr:hover
{
	background-color: #FFFDB1;
}

#panel table.selectiva tr.cabecera, #panel table tr.cabecera:hover
{
	background-color: #999;
	color: #fff;
	font-weight: bold;
	cursor: auto;
}

#panel table.selectiva tr.cabecera td
{
	padding: 10px;
	text-align: center;
}

#buscador
{
	text-align: center;
	padding-bottom: 20px;
}

.busqueda
{
	width: 40%;
}

#panel table.insertiva
{
	/*width: 50%;*/
	margin: auto;
	font-size: 9pt;
}

#panel table.insertiva select
{
	width: 300px;
}

#panel table.insertiva td.etiqueta
{
	text-align: right;
	padding-right: 20px;
}

#panel table.insertiva td.botones
{
	text-align: center;
	padding-top: 40px;
}

#panel table.insertiva td.botones input
{
	padding: 10px;
}

#panel table.insertiva td.botones input[type="submit"]
{
	font-weight: bold;
}

#fotos .foto
{
	float: left;
	margin: 10px;
	position: relative;
}

#fotos .foto a.papelera
{
	position: absolute;
	top: 5px;
	left: 5px;
}

#fotos .foto a.papelera img
{
	border: 0;
}

#fotos .foto a.papelera img:hover
{
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
