/*****************************************************
Botón y input text
*****************************************************/

.freshbutton, .freshbutton-big, .freshbutton-blue, .freshbutton-lightblue, .freshbutton-purple, .freshbutton-red, .freshbutton-yellow, .freshbutton-disabled, .freshbutton-lightdisabled, .freshbutton-green
{
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    overflow: visible;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.freshbutton-big, .freshbutton-blue
{
    background: #2180CE;
    background: -moz-linear-gradient(center top , #33A0E8, #2180CE) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#33A0E8), to(#2180CE));
    border-color: #2270AB #18639A #0F568B;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #83C5F1 inset;
    color: #FFFFFF;
    text-shadow: #355782 0 1px 2px;
    -webkit-text-shadow: #355782 0 1px 2px;
    -moz-text-shadow: #355782 0 1px 2px;
}

.freshbutton-lightblue, .cabecera
{
    background: #E4F3FF;
    background: -moz-linear-gradient(center top , #F4FAFE, #E4F3FF) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#F4FAFE), to(#E4F3FF));
    border-color: #93CEF8 #79BCEA #79BCEA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 #FFFFFF inset;
    color: #1E75BD;
}

.freshbutton-lightdisabled
{    
    background: #eee;
    background: -moz-linear-gradient(center top , #fff, #eee) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    border-color: #ddd #ccc #bbb;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 #E8E8E8 inset;
    color: #aaa;
    cursor: default;
}

.freshbutton-red
{    
    background: #CE2224;
    background: -moz-linear-gradient(center top , #DB4457, #C32F39) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#DB4457), to(#C32F39));
    border-color: #A12B36 #92222C #821721 #8F212B;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #F17F81 inset;
    color: #FFFFFF;
    text-shadow: #823435 0 1px 2px;
    -webkit-text-shadow: #823435 0 1px 2px;
    -moz-text-shadow: #823435 0 1px 2px;
}

.freshbutton-yellow
{    
    background: #CBCE22;
    background: -moz-linear-gradient(center top , #D6DB44, #BFC32F) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#D6DB44), to(#BFC32F));
    border-color: #A0A12B #8A9222 #808217 #8D8F21;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #ECF17F inset;
    color: #FFFFFF;
    text-shadow: #828234 0 1px 2px;
    -webkit-text-shadow: #828234 0 1px 2px;
    -moz-text-shadow: #828234 0 1px 2px;
}

.freshbutton-green
{    
    background: #23B236;
    background: -moz-linear-gradient(center top , #48D054, #1FAC2B) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#48D054), to(#1FAC2B));
    border-color: #2BA136 #229227 #17821B #218F24;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #7FF180 inset;
    color: #FFFFFF;
    text-shadow: #34823A 0 1px 2px;
    -webkit-text-shadow: #34823A 0 1px 2px;
    -moz-text-shadow: #34823A 0 1px 2px;
}

.freshbutton-purple
{
    background: #9A44E5;
    background: -moz-linear-gradient(center top , #9E4FE2, #7D1CCC) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#9E4FE2), to(#7D1CCC));
    border-color: #6A1EAB #561B9A #4A118B;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #AD7CF1 inset;
    color: #FFFFFF;
    text-shadow: #543382 0 1px 2px;
    -webkit-text-shadow: #543382 0 1px 2px;
    -moz-text-shadow: #543382 0 1px 2px;
}

.freshbutton-disabled
{
    background: #BCBCBC;
    background: -moz-linear-gradient(center top , #DDDDDD, #BCBCBC) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#BCBCBC));
    border-color: #AAAAAA #939393 #878787;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #E8E8E8 inset;
    color: #777;
    text-shadow: #fff 1px 1px 0;
    -webkit-text-shadow: #fff 1px 1px 0;
    -moz-text-shadow: #fff 1px 1px 0;
    cursor: default;
}

.freshbutton-big
{
    padding: 11px 22px;
    font-size: 15px;
}

.freshbutton-extrabig
{
    line-height: 1em;
    width: 250px;
    display: inline-block;
    font-size: 20pt;
    padding: 15px 25px;
}

small
{
    font-size: 10pt;
}

.textinput
{
    background: url("topfade.gif") repeat-x scroll center top #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #555555;
    margin: 0;
    padding: 8px;
    vertical-align: middle;
    width: 300px;
}

.textinputreadonly
{
    background: #ddd;
    border: 1px solid #AAAAAA;
    color: #555555;
    margin: 0;
    padding: 8px;
    vertical-align: middle;
    width: 300px;
}

.textinputfake
{
    margin: 0;
    padding: 8px 0;
}

table.bloques
{
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    margin-top: 25px;
    vertical-align: middle;
}

table.bloques tr, table.bloques td
{
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

table.bloques td
{
    vertical-align: middle;
    width: 33%;
    margin: auto;
    background-color: #eee;
    border: 1px solid #AAA;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 2px 0 #C2C2C2;
    margin: 5px;
    padding: 30px;
    background-image: url('bg_dotted.png');
    text-align: center;
    font-size: 15pt;
    color: #444;
}

.smallicon
{
    cursor: pointer;
}

/*****************************************************
Generales
*****************************************************/

html, body, h
{
    margin: 0;
    padding: 0;
    font-family: "Calibri", "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    font-size: 11pt;
    color: #444;
}

img
{
    border: 0;
}

@font-face
{
    font-family: "Kabel-Bold";
    src: url("Kabel-Bold.otf") format("opentype");
}

@font-face {
  font-family: '☺SegoeLight';
  src: url("fonts/segoe_ui_light.eot");
  /* IE9 Compat Modes */
  src: local("Segoe UI Light"), local("Segoe WP Light"), url("fonts/segoe_ui_light.eot?#iefix") format("embedded-opentype"), url("fonts/segoe_ui_light.woff") format("woff"), url("fonts/segoe_ui_light.ttf") format("truetype");
  /* Safari, Android, iOS */
  /* Can also add SVG format */
  font-weight: normal;
  font-style: normal; 
}

h3
{
    font-size: 20pt;
    color: #888;
}

fieldset
{
    padding: 10px;
    border: 1px solid #bbb;
}

#reservar textarea
{
    width: 100%;
    margin-top: 5px;
}

#contenedor
{
    text-align: center;
}

#cabecera
{
    background-color: #F1F1F1;
    border-bottom: 1px solid #DDD;
    margin-bottom: 15px;
}

#titulo, #navegacion, #contenido
{
    margin: auto;
    max-width: 1300px;
    min-width: 960px;
    width: 98%;
}

#titulo h1
{
    padding: 15px 0 15px 0;
    margin: 0;
}

#titulo h1 a
{
    color: #555;
    text-decoration: none;
    font-size: 40pt;
}

#titulo h1 a .otrocolor
{
    color: #18639A;
    font-weight: normal;
    font-size: 40pt;
}

#titulo span
{
    display: none;
}

#titulo a
{
    display: block;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    height: 94px;
}

#titulo, #navegacion
{
    text-align: left;
}

#navegacion a
{
    padding: 5px 15px;
    color: #888;
    text-decoration: none;
    font-weight: bold;
    font-size: 11pt;
    border-right: 1px solid #CCC;
}

#navegacion a.ultimo
{
    border-right: 0;
}

#navegacion a:hover
{
    color: #000000;
}

#linksnavegacion
{
    margin-top: -100px;
    float: right;
}

#linksnavegacion a
{
    padding-top: 45px;
    display: block;
    float: left;
}

#inicionavegacion
{
    background: url("casa.png") no-repeat top center;
}

#mapanavegacion
{
    background: url("mapa.png") no-repeat top center;
}

#fotosnavegacion
{
    background: url("camara.png") no-repeat top center;
}

#contactonavegacion
{
    background: url("sobre.png") no-repeat top center;
}

#cuerpo
{
    text-align: left;
}

#cuerpo h3
{
    margin-top: 15px;
    margin-bottom: 15px;
}

#menu
{
    text-align: right;
    margin-top: 15px;
    margin-bottom: 25px;
}

#pie
{
    clear: both;
    padding: 40px;
    margin-top: 60px;
    border-top: 3px solid #E0E0E0;
}

#pie a
{
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    border-bottom: 5px solid transparent;
}

#pie a:hover
{
    border-bottom: 5px solid #000;
}

#paginacion
{
    text-align: center;
    margin-top: 30px;
}

#busqueda
{
    float: right;
    padding: 10px 0;
}

.searchinput
{
    background: url("lupa.png") no-repeat scroll 3% center #FFFFFF;
    padding-left: 30px;
    padding-right: 22px;
    width: 300px;
    border: 1px solid #BFBFBF;
    border-radius: 23px;
    box-shadow: 0 0 0 #000000, 0 3px 3px #EEEEEE inset;
    height: 23px;
    font-size: 8pt;
    color: #444;
}

input.blur
{
    color: #888;
}

/*.dialogoreserva
{
    font-size: 10pt;
    margin: 15px;
}

.dialogoreserva table td
{
    vertical-align: top;
}*/

.foto
{
    float: left;
    margin: 5px;
    position: relative;
}

.borrarfoto
{
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    display: block;
    padding: 4px;
}

.borrarfoto:hover
{
    background: #bbb;
}

#fotos ol
{
    margin-top: 10px;
    margin-left: 40px;
}

ul
{
    margin: 10px;
    margin-left: 40px;
}

/*****************************************************
Particulares de cada página
*****************************************************/

#iniciarsesion label
{
    width: 100px;
    display: inline-block;
}

#iniciarsesion div
{
    margin: 10px;
}

.columna2
{
    padding: 3px 0;
}

.columna1
{
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

#externo
{
    width: 100%;
    text-align: center;
}

#interno
{
    display: inline-block;
}

#iniciarsesion, #registrarse, #mapa, #reserva, #usuario, #contacto
{
    text-align: left;
}

#reservas tr.pendiente td, #reservas tr.encurso td, #reservas tr.finalizada td, tr.linea td
{
    padding: 5px;
}

#reservas tr.pendiente, .pendiente
{
    background-color: #9CFF99;
}

#reservas tr.encurso, .encurso
{
    background-color: #ffef8f;
}

#reservas tr.finalizada, .finalizada
{
    background-color: #EEE;
    color: #999;
}

#reservas tr.pendiente:hover
{
    cursor: pointer;
    background-color: #8AE65C;
}

#reservas tr.encurso:hover
{
    cursor: pointer;
    background-color: #fed22f;
}

#reservas tr.finalizada:hover
{
    cursor: pointer;
    background-color: #DDD;
}

#reservas tr.pendiente:active, #reservas tr.encurso:active, #reservas tr.finalizada:active
{
    cursor: pointer;
    background-color: #fff;
}

#reserva .pendiente, .pendiente2
{
    font-weight: bold;
    background: transparent;
    color: #0A0;
}

#reserva .encurso, .encurso2
{
    font-weight: bold;
    background: transparent;
    color: #eb8f00;
}

#reserva .finalizada, .finalizada2
{
    font-weight: bold;
    background: transparent;
    color: #888;
}

tr.linea:hover
{
    cursor: pointer;
    background-color: #eee;
}

#usuarios tr.linea:active
{
    cursor: pointer;
    background-color: #ddd;
}

#mapaapi
{
    height: 500px;
}

#mapalinks
{
    text-align: right;
    padding-bottom: 20px;
}

table, tr
{
    border: 0;
}

#tablapistas td, #reservas td, #usuarios td
{
    border: 1px solid #000;
}

#tablapistas .esquina
{
    border: 0;
    background: #fff;
}

.filacabecera
{
    /*background-image: url('cabecera2.png');*/
}

.cabecera
{
    font-weight: bold;
    padding: 5px;
    height: 60px;
    border: 1px solid #AED0EA !important;
    border-bottom: 1px solid #000 !important;
    
    -moz-border-bottom-colors: none !important;
    -moz-border-image: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    border-color: #AED0EA #AED0EA #000000 !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-weight: bold;
    height: 60px;
    padding: 5px 10px;
    text-align: center;

    background: #C2E3FD;
    background: -moz-linear-gradient(center top , #DAEEFB, #C2E3FD) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#DAEEFB), to(#C2E3FD));
    border-color: #93CEF8 #79BCEA #79BCEA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 #EDF9FF inset;
    color: #1E75BD;
}

#tablapistas
{
    margin-right: 330px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tablapistas table
{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 10pt;
}

#tablapistas table td.hora
{
    width: 1%;
    padding: 0 5px;
    white-space: nowrap;
}

.ocupado
{
    background-color: #FF4545;
}

.noreservable
{
    background-color: #BABABA;
}

.libre
{
    background-color: #8AE65C;
    cursor: pointer;
}

#tablapistas table td.seleccionado
{
    background: #8AE65C url("grid.png");
}

#reservas table, #usuarios table
{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#estadisticas table
{
    border-collapse: collapse;
}

#leyenda
{
    float: right;
    margin-top: 15px;
}

#leyenda div
{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    margin-left: 10px;
    border: 1px #000 solid;
}

#datepicker
{
    font-size: 0.8em;
}

#resumenreserva
{
    width: 300px;
    float: right;
}

#resumenreserva form div
{
    margin: 10px 0;
}

#resumenreserva form div label
{
    font-weight: bold;
}

#tiempo
{
    margin-top: 15px;
    overflow: hidden;
    height: 110px;
    float: left;
}

#lineas
{
    margin-left: 50px;
    border-left: 1px solid #444;
    padding-left: 20px;
}

#lineas .descripcion
{
    font-size: 12pt;
}

#lineas .dato
{
    font-size: 20pt;
}

#lineas div
{
    margin-top: 30px;
}

/*****************************************************
Mensajes
*****************************************************/

#mensajes
{
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
    margin: auto;
    
    border: 1px solid #E6DB55;
    border-radius: 10px;
    -moz-border-radius: 10px;
    
    background: #FFFBCC;
}

#mensajes table
{
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

#mensajes table tr
{
    display: inline;
}

#mensajes table.exito
{
    color: #080;
}

#mensajes table.info
{
    color: #00e;
}

#mensajes table.aviso
{
    color: #b80;
}

#mensajes table.error
{
    color: #e00;
}

#mensajes table tr td.columnaizquierda
{
    text-align: right;
}

#mensajes table tr td.columnaderecha
{
    text-align: left;
}

/**********************************************************/

.guapo-form
{
    border-collapse: separate;
    border-spacing: 10px;
}

td.guapo-label
{
    padding-right: 5px;
    text-align: right;
    font-family: "☺SegoeLight", "Segoe UI", Segoe, Arial, Verdana, sans-serif;
    font-weight: 300;
    font-size: 11pt;
    color: #000;
}

td.guapo-input
{
}

.guapo-input-fake
{
    margin: 0;
    padding: 8px 0;
}

.guapo-input input[type=text], .guapo-input input[type=password], .guapo-input textarea
{
    width: 290px;
    background: #fff;
    font-family: "☺SegoeLight", "Segoe UI", Segoe, Arial, Verdana, sans-serif;
    font-weight: 300;
    font-size: 10pt;
    color: #000;
    padding: 5px;
    
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A4A4A4 #B9B9B9 #B9B9B9;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border-right: 1px solid #B9B9B9;
    border-style: solid;
    border-width: 1px;
    
    -webkit-box-shadow: 0 1px 0 #FFFFFF, 0 1px 1px rgba(0, 0, 0, 0.10) inset;
    -moz-box-shadow: 0 1px 0 #FFFFFF, 0 1px 1px rgba(0, 0, 0, 0.10) inset;
    box-shadow: 0 1px 0 #FFFFFF, 0 1px 1px rgba(0, 0, 0, 0.10) inset;
}

.guapo-input input[readonly="readonly"], .guapo-input textarea[readonly="readonly"]
{
    background: #ddd;
}

.guapo-input input[type=submit], .guapo-input input[type=button]
{
    border: 0 none;
    background: #1695D6;
    color: #fff;
    font-size: 11pt;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    font-family: "Calibri","Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}

.guapo-input input[type=submit]:hover, .guapo-input input[type=button]:hover
{
    background: #0F78AE;
}

.guapo-tabla
{
    width: 100%;
}

.guapo-tabla th
{
    font-weight: bold;
    padding: 5px;
    height: 60px;
    border: 1px solid #AED0EA !important;
    border-bottom: 1px solid #000 !important;
    
    -moz-border-bottom-colors: none !important;
    -moz-border-image: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    border-color: #AED0EA #AED0EA #000000 !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-weight: bold;
    height: 60px;
    padding: 5px 10px;
    text-align: center;

    background: #C2E3FD;
    background: -moz-linear-gradient(center top , #DAEEFB, #C2E3FD) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#DAEEFB), to(#C2E3FD));
    border-color: #93CEF8 #79BCEA #79BCEA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 #EDF9FF inset;
    color: #1E75BD;
}

.guapo-tabla td
{
    padding: 10px;
    border: 1px solid #000;
}

.guapo-centro
{
    text-align: center;
}
